{% load active_count %}
<table class="table">
    <thead>
      <tr>
          <th>#</th>
        <th>Query</th>
        <th>Description</th>
        <th>View Result</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for query in queries %}
          <tr>
              <td>{{forloop.counter}}</td>
            <td>{{query.name}}</td>
             <td>{{query.description}}</td>
              <td><a class="btn btn-warning query_result" data-id="{{ query.id }}" data-sport="{{ query.category.name }}" data-query="{{ query.query }}"  href="#">View Result</a></td>
              <td><a href="/query_delete?id={{query.id}}">delete</a></td>
              <td><a href="query/{{query.id}}" class="js_edit" query_id="">Edit</a></td>
          </tr>
        {% endfor %}

    </tbody>
</table>