{% load active_count %}
<table class="table">
    <thead>
      <tr>
        <th>Query</th>
        <th>Description</th>
        <th>View Result</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
        {% for query in queries %}
          <tr>
            <td>{{query.name}}</td>
             <td>{{query.description}}</td>
              <td><a class="btn btn-warning query_result" data-id="{{ query.id }}" data-sport="{{ query.category.name }}" data-query="{{ query.query }}"  href="#">View Result</a></td>
              {% include 'includes/action_link.html' %}
          </tr>
        {% endfor %}

    </tbody>
</table>