{% load active_count %}
{% load all_queries %}
<table class="table">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Active Query</th>
                            <th>All Query</th>

                          </tr>
                        </thead>
                        <tbody>
                            {% for cat in category %}
                              <tr>
                                <td>{{cat.name}}</td>
                                  <td><a class="btn btn-success" href="{% url 'main:active_queries' %}?cat_id={{cat.id}}">{% active_count cat.id %} Active Queries</a></td>
                                  <td><a class="btn btn-info" href="{% url 'main:all_queries' %}?cat_id={{cat.id}}">{% all_queries cat.id %} All Queries</a></td>
                              </tr>
                            {% endfor %}

                        </tbody>
                    </table>