{% extends 'base.html' %}
{% block content %}
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        {% if not all %}
                            {% include 'includes/query_list.html' %}
                        {% else %}
                            {% include 'includes/all_queries.html' %}
                        {% endif %}
                    </div>

                    <div class="col-md-12">
                        {%  include 'includes/trends.html' %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                {% include 'includes/category_list.html' %}
            </div>

        </div>

     {% include 'includes/result.html' %}

{% endblock %}
{%  block script %}
    <script>
        $('.query_result').click(function(e){
            e.preventDefault();

            show_result($(this).attr('data-query'), $(this).attr('data-sport').toLowerCase());
        })



    </script>
{% endblock %}